
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-bat-charge:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-case:before { content: '\e803'; } /* '' */
.icon-strap:before { content: '\e804'; } /* '' */
.icon-applewatch:before { content: '\e805'; } /* '' */
.icon-charger:before { content: '\e806'; } /* '' */
.icon-my:before { content: '\e807'; } /* '' */
.icon-cart:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
