*{
    box-sizing: border-box;
}
body{
    min-width: 1260px;
    min-height: 1280px;
    background: linear-gradient(to bottom, #9029a0, #f6b610);

}
.wrapper{
    /* border: solid 2px black; */
    width: 80%;
    min-height: 1280px;
    margin-left: 148px;
    display: flex;
    flex-direction: column;
}
.sign{
    /* border: solid 2px red; */
    text-align: center;
    font-size: 28px;
    color: #f6b610;
    font-family: Garamond, serif;
}
.sign h1{
    padding-top: 28px;
    margin-top: 0;
}
.nav{
    display: flex;
    flex-direction: column;
}
.leftNav{
    /* border: solid 2px yellow; */
    flex-grow: 8;
}
.leftNav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
}
.leftNav ul li a{
    font-size: 77px;
    text-decoration: none;
    color: #f6b610;
}
.rightNav{
    /* border: solid 2px blue; */
    flex-grow: 2;
}
.rightNav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}
.rightNav ul li a{
    font-size: 40px;
    text-decoration: none;
    color: #f6b610;
}
.container{
    /* border: solid 2px green; */
}
.content1{
    /* border: solid 2px purple; */
}
.content1 .width-column{
    column-count: 3;
    display: flex;
    justify-content: center;
}
.content1 h2{
    text-align: center;
    font-size: 32px;
    color: #f6b610;
    font-family: Garamond, serif;
}
.content1 ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 0 0 26px;
    list-style: none;
}
.content1 ul li{
    padding-right: 32px;
}
.content1 ul li .box{
    /* border: solid 2px gold; */
    border-radius: 20px;
    display: inline-block;
    width: 320px;
    min-height: 400px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    box-shadow: 2px 4px 12px;
}
.content1 ul li .box :hover{
}
.content1 ul li img{
    text-decoration: none;
    width: 280px;
    border-radius: 12px;
}
.content1 ul li .box .name{
    color: gold;
    padding-top: 30px;
    padding-bottom: 20px;
}
.content1 ul li .box .price{
    color: gold;
}
.content1 ul li .case7{
    padding-right: 0;
}
.content2{
    /* border: solid 2px orange; */
}
.content2 h2{
    text-align: center;
    font-size: 32px;
    color: #f6b610;
    font-family: Garamond, serif;
    margin: 44px 0 46px 0;
}
.content2 ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.content2 .band-width-column{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.content2 ul li{
    margin: 0 0 16px 0;
    display: inline-block;
}
.content2 ul li .bandbox{
    /* border: solid 2px gold; */
    margin-right: 12px;
}
.content2 ul li .bandbox img{
    width: 232px;
    height: 232px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
}
.content2 ul li .bandbox :hover{
    box-shadow: 2px 4px 12px;
    transform: scale(1.4, 1.4);
}
.content3{
    /* border: solid 2px pink; */
}
.content3 h2{
    text-align: center;
    font-size: 32px;
    color: gold;
    font-family: Garamond, serif;
    margin: 52px 0 48px 0;
}
.content3 .other-width-column{
    display: flex;
    flex-direction: column;
    text-align: center;
 }
.content3 ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.content3 ul li{
    margin: 0 14px 16px 0;
    display: inline-block;
}
.content3 ul li .otherbox img{
    height: 194px;
    width: 194px;
    border-radius: 6px;
    box-shadow: 4px 4px 6px;
}
.content3 ul li .otherbox :hover{
    transform: scale(1.2, 1.2);
}
footer{
}